@using Sistema_Web_de_Nominas.Dto
@model Sistema_Web_de_Nominas.Dto.EmpleadoRequestDTO
@{
	Layout = null;
	var usuarios = ViewBag.Usuarios as IEnumerable<UsuarioDto> ?? new List<UsuarioDto>();
}

<form id="crudForm" data-action="Create">
	<div class="modal-header">
		<h5 class="modal-title">Crear Nuevo Empleado</h5>
		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	</div>
	<div class="modal-body">

		<div class="form-group mb-3">
			<label asp-for="UsuarioId" class="form-label">Usuario (Opcional)</label>
			<select asp-for="UsuarioId" class="form-select">
				<option value="">Seleccione un usuario para vincular...</option>
				@if (usuarios.Any())
				{
					@foreach (var user in usuarios)
					{
						<option value="@user.Id">@user.NombreUsuario (@user.Id)</option>
					}
				}
			</select>
			<span asp-validation-for="UsuarioId" class="text-danger"></span>
		</div>
		<div class="form-group mb-3">
			<label asp-for="Cedula" class="form-label"></label>
			<input asp-for="Cedula" class="form-control" />
			<span asp-validation-for="Cedula" class="text-danger"></span>
		</div>
		<div class="form-group mb-3">
			<label asp-for="NombreCompleto" class="form-label"></label>
			<input asp-for="NombreCompleto" class="form-control" />
			<span asp-validation-for="NombreCompleto" class="text-danger"></span>
		</div>
		<div class="form-group mb-3">
			<label asp-for="Telefono" class="form-label"></label>
			<input asp-for="Telefono" class="form-control" />
			<span asp-validation-for="Telefono" class="text-danger"></span>
		</div>
		<div class="form-group mb-3">
			<label asp-for="Sexo" class="form-label"></label>
			<select asp-for="Sexo" class="form-select">
				<option value="">Seleccione...</option>
				<option value="M">Masculino</option>
				<option value="F">Femenino</option>
			</select>
			<span asp-validation-for="Sexo" class="text-danger"></span>
		</div>
		<div class="form-group mb-3">
			<label asp-for="Cargo" class="form-label"></label>
			<input asp-for="Cargo" class="form-control" />
			<span asp-validation-for="Cargo" class="text-danger"></span>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
		<button type="submit" class="btn btn-primary">Guardar Empleado</button>
	</div>
</form>